<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
   
  <body>
    <div class="container">
      
      <section class="round">
        <%= yield %>
      </section>
    </div>
  </body>
  
  
</html>